.message-container {
    position: absolute;
}
.container {
    width: 900px;
    height: 600px;
    background-color: transparent;
    border:4px solid black;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#game {
    width: 600px;
    height: 600px;
    background-color: transparent;
    float: left;
    position: absolute;
}
.container-result {
    width: 300px;
    height: 600px;
    background-color: lightsteelblue;
    float:right;
    border-left: 2px solid black;
}
#score,
.higscore-title {
    font-size: 23px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-weight: bold;
}
#score {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid black;
}
#local-highscore-table,
#global-score-table {
    font-size: 18px;
    padding: 10px;
}
.container-restart,
.container-start {
    width: 300px;
    height: 150px;
    background-color: rgba(173, 216, 230, 0.9);
    border:4px solid black;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: none;
}
.container-start {
    height: 350px;
    width: 420px;
}
#start-info,
#restart-info  {
    font-size: 18px;
}
span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 10px;
}
button {
    background-color: black;
    border: none;
    color: transparent;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
button {
    background-color: transparent;
    color: black;
    border: 2px solid black;
}
button:hover {
    background-color: black;
    color: white;
}

